each photo in photos
	.photo-container
		.photo-header
			h3 #{photo.title}
			button.btn.btn-primary.removePhoto(data-id="#{photo._id}") Delete
		.photo-img
			img(src="/gallery/#{photo.imgFile}")
.pager
	.row
		.col-md-1
			if prev
				.prev
					a(href="/admin/gallery?page=#{currPage - 1}") Previous
		.col-md-2
		.col-md-6
			each page in pages
				.page-link
					if parseInt(currPage) == parseInt(page)
						p.active #{page}
					else
						a(href="/admin/gallery?page=#{page}") #{page}
		.col-md-2
		.col-md-1
			if next
				.next
					a(href="/admin/gallery?page=#{parseInt(currPage) + 1}") Next