extends ../layout

block content
	.main
		h3 Edit Gallery
		#album-view.album-view.album-view-admin
			#add-album.album-container
				img.album-add-img(src="/images/addAlbum.png")
				h4.album-title Add Album
			if(albums)
				each album in albums
					.album-container
						span.delete-album.glyphicon.glyphicon-remove-sign(aria-hidden="true", data-id="#{album._id}")
						span.edit-album-img.glyphicon.glyphicon-pencil(aria-hidden="true", onclick="window.location.href='/admin/album/?id=#{album._id}';")
						.album-preview1.album-preview(style="background-image: url(\"/gallery/#{album.photos[2]}\")")
						.album-preview2.album-preview(style="background-image: url(\"/gallery/#{album.photos[1]}\")")
						.album-preview3.album-preview(style="background-image: url(\"/gallery/#{album.photos[0]}\")")
							
						h4.album-title
								if(language == "English" || language == undefined)
									| #{album.title}
								else
									| #{album.title_kr}
			.pager
				.row
					.col-md-1
						if prev
							.prev
								a(href="/admin/gallery?page=#{currPage - 1}") Previous
					.col-md-2
					.col-md-6
						each page in pages
							.page-link
								if parseInt(currPage) == parseInt(page)
									p.active #{page}
								else
									a(href="/admin/gallery?page=#{page}") #{page}
					.col-md-2
					.col-md-1
						if next
							.next
								a(href="/admin/gallery?page=#{parseInt(currPage) + 1}") Next
		script.
			$(document).ready(function(){
				$("#add-album").on("click", function(){
					$.ajax({
						type: "POST",
						url: "/admin/addAlbum",
						success: function(albumId){
							window.location.href = "/admin/album/?id=" + albumId;
						}
					});
				});
				
				$(".delete-album").on("click", function(){
					var domElement = this;
					var albumId = $(this).data("id");
					
					$.ajax({
						type: "DELETE",
						url: "/gallery/removeAlbum",
						data: {id: albumId},
						success: function(){
							location.reload();
						}
					});
				});
			});
		
			function updateGalleryList(){
				$.ajax({
					url: "/gallery/getGalleryList?page=1",
					type: "GET",
					success: function(list){
						$("#photo-view").html(list);
						$(".photo-container").on("click", ".removePhoto", function(){
							var domElement = this;
							var photoId = $(this).data("id");
							
							$.ajax({
								url: "/gallery/removePhoto?id=" + photoId,
								type: "POST",
								success: function(){
									$(domElement).remove();
									updateGalleryList();
								}
							});
						});
					}
				});
			}
						
			$(".photo-container").on("click", ".removePhoto", function(){
				var domElement = this;
				var photoId = $(this).data("id");
				
				$.ajax({
					url: "/gallery/removePhoto?id=" + photoId,
					type: "POST",
					success: function(){
						updateGalleryList();
					}
				});
			});
			
			$("#newPhoto").on("click", function(){
				$("#uploadPhoto").modal({backdrop: false});
			});
		
		

	