extends ../layout

block content
	.main
		h3 Edit Sermons
		#mainPagePlayer.sermon-audio-player
		.sermon-container
			.sermon-add-button#newSermon 
				p.addsermonheader + Add Sermon
		#sermon-view.sermons
			if(sermons.length)
				each sermon in sermons
					.sermon-container(id="sermon-container-#{sermon._id}",data-sermonId="#{sermon._id}")
						.sermon-main
							.sermon-play-button
								img.sermon-play(onclick="playSermon('#{sermon.audioFile}', '#{sermon._id}');", src="/images/playbutton.png")
								img.sermon-playing-gif(src="/images/playing.gif")
							.sermon-title
								p.miniheader #{sermon.title}
							.sermon-pastor
								p.miniheader #{sermon.pastor}
							.expand-sermon-details
								span.glyphicon.glyphicon-forward(onclick="$('#sermon-container-#{sermon._id}').toggleClass('expanded');")
							.sermon-date
								//p.miniheader #{sermon.date.getUTCMonth()}/#{sermon.date.getUTCDate()}/#{sermon.date.getUTCFullYear()}
						.sermon-expanded
							.sermon-description
								p(style="font-size:1.1em;margin-bottom:5px;") Description:
								p #{sermon.description}
							.sermon-options
								button.btn.btn-primary.removeSermon(data-id="#{sermon._id}") Delete
								button.btn.btn-primary.editSermon(data-id="#{sermon._id}") Edit
			.pager
				.row
					.col-md-1
						if prev
							.prev
								a(href="/admin/sermons?page=#{currPage - 1}") Previous
					.col-md-2
					.col-md-6
						each page in pages
							.page-link
								if parseInt(currPage) == parseInt(page)
									p.active #{page}
								else
									a(href="/admin/sermons?page=#{page}") #{page}
					.col-md-2
					.col-md-1
						if next
							.next
								a(href="/admin/sermons?page=#{parseInt(currPage) + 1}") Next
		#uploadSermon.modal.fade
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;
						h4.modal-title Sermon Upload
					.modal-body
						#uploadViewer.uploadViewer
		#updateSermon.modal.fade
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;
						h4.modal-title Update Sermon
					.modal-body
						#updateViewer.uploadViewer
		script(id='UploadForm',type='text/x-handlebars-template').
			<form id="uploadSermonForm" enctype="multipart/form-data">
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#title">English Title</label>
						<input type="text" class="form-control" name="title" id="title"/>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group col-md-5">
						<label for="#title">Korean Title</label>
						<input type="text" class="form-control" name="title_kr" id="title_kr"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#pastor">Pastor</label>
						<input type="text" class="form-control" name="pastor" id="pastor"/>
					</div>
					<div class="col-md-7">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#description">English Description</label>
						<textarea type="text" class="form-control" name="description" id="description"></textarea>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group col-md-5">
						<label for="#description">Korean Description</label>
						<textarea type="text" class="form-control" name="description_kr" id="description_kr"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="file">Sermon Audio</label>
						<input type="file" name="file" id="file" accept="audio/mp3">
						<p class="help-block">Upload audio file here</p>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group" col-md-5>
						<label for="#date">Date</label>
						<input type="text" name="date" id="date"/>
					</div>
				</div>
			</form>	
			<button class="btn btn-primary uploadSermonSubmit" id="uploadSermonSubmit">Upload</button>
		script(id='UpdateForm',type='text/x-handlebars-template').
			<form id="updateSermonForm" enctype="multipart/form-data">
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#title">English Title</label>
						<input type="text" class="form-control" name="title" id="title" value="{{title}}"/>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group col-md-5">
						<label for="#title">Korean Title</label>
						<input type="text" class="form-control" name="title_kr" id="title_kr" value="{{title_kr}}"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#pastor">Pastor</label>
						<input type="text" class="form-control" name="pastor" id="pastor" value="{{title_kr}}"/>
					</div>
					<div class="col-md-7">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="#description">English Description</label>
						<textarea type="text" class="form-control" name="description" id="description">{{description}}</textarea>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group col-md-5">
						<label for="#description">Korean Description</label>
						<textarea type="text" class="form-control" name="description_kr" id="description_kr">{{description_kr}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="file">Sermon Audio</label>
						<input type="file" name="file" id="file" accept="audio/mp3">
						<p class="help-block">Update audio file here.  Leave blank if file does not need to change.</p>
					</div>
					<div class="col-md-2">
					</div>
					<div class="form-group" col-md-5>
						<label for="#date">Date</label>
						<input type="text" name="date" id="date" value="{{date}}"/>
					</div>
				</div>
				<input type="hidden" name="id" id="audioId" value="{{_id}}"/>
			</form>	
			<button class="btn btn-primary updateSermonSubmit" id="updateSermonSubmit">Update</button>
		include ../audio-player.jade
		script.
			var mainAudioPlayer = {};
		
			function playSermon(audioFile, sermonId){
				$(".sermon-container").removeClass("expanded");
				$(".sermon-container").removeClass("playing");
				$("#sermon-container-" + sermonId).addClass("expanded");
				$("#sermon-container-" + sermonId).addClass("playing");
				
				if(audioFile == mainAudioPlayer.currentAudioFile){
					mainAudioPlayer.playAudio();
				}else{
					mainAudioPlayer.setAudioFile(audioFile, true);
					mainAudioPlayer.onPlay = function(){
						$("#sermon-container-" + sermonId).addClass("playing");
					};
					mainAudioPlayer.onPause = function(){
						$("#sermon-container-" + sermonId).removeClass("playing");
					};
				}
			}
		
			function updateSermonList(){
				$.ajax({
					url: "/sermons/getSermonList?page=1",
					type: "GET",
					success: function(list){
						$("#sermon-view").html(list);
						$(".sermon-options").on("click", ".removeSermon", function(){
							var domElement = this;
							var sermonId = $(this).data("id");
							
							$.ajax({
								url: "/sermons/removeSermon?id=" + sermonId,
								type: "POST",
								success: function(){
									$(domElement).remove();
									updateSermonList();
								}
							});
						});
						$(".sermon-options").on("click", ".editSermon", function(){
							var domElement = this;
							var sermonId = $(this).data("id");
							
							$.ajax({
								url: "/sermons/getSermon?id=" + sermonId,
								type: "GET",
								success: function(data){
									var updateModal = $("#UpdateForm").html();
									var updateModalView = Handlebars.compile(updateModal);
									$("#updateViewer").html(updateModalView(data));
									$("#updateSermon").modal({backdrop: false});
								}
							});
						});
					}
				});
			}
			function startLoading(){
				console.log("starting...");
				var over = '<div id="loading-overlay">' +
					'<img id="loadingRequest" src="/images/loading.gif">' +
					'</div>';
				$(over).appendTo('body');
			}
			function stopLoading(){
				console.log("stopping...");
				$("#loading-overlay").remove();
			}
			
			$('#uploadSermon').on('show.bs.modal', function (event) {
				var uploadModal = $("#UploadForm").html();
				var uploadModalView = Handlebars.compile(uploadModal);
				$("#uploadViewer").html(uploadModalView());
				$("#date").datepicker();
				$("#uploadSermonSubmit").on('click', function(){
					startLoading();
					var form = document.getElementById('uploadSermonForm');
					var formData = new FormData(form);
					var xhr = new XMLHttpRequest();
					xhr.open('POST', '/sermons/uploadSermon', true);
					xhr.setRequestHeader("enctype", "multipart/form-data");
					xhr.onreadystatechange=function(){
					  stopLoading();
					  if (xhr.readyState==4){
						if(xhr.status==200){
							$("#uploadSermon").modal('hide');
							updateSermonList();
					    }else if(xhr.status == 500){
							alert(xhr.response);
						}
					  }
					};
					xhr.send(formData);	
				});
			});
			
			$('#updateSermon').on('show.bs.modal', function (event) {
				$("#date").datepicker();
				$("#updateSermonSubmit").on('click', function(){
					startLoading();
					var form = document.getElementById('updateSermonForm');
					var formData = new FormData(form);
					var xhr = new XMLHttpRequest();
					xhr.open('PUT', '/sermons/updateSermon', true);
					xhr.setRequestHeader("enctype", "multipart/form-data");
					xhr.onreadystatechange=function(){
					  stopLoading();
					  if (xhr.readyState==4){
						if(xhr.status==200){
							$("#updateSermon").modal('hide');
							updateSermonList();
					    }else if(xhr.status == 500){
							alert(xhr.response);
						}
					  }
					};
					xhr.send(formData);	
				});
			});
			
			$(".sermon-options").on("click", ".removeSermon", function(){
				var domElement = this;
				var sermonId = $(this).data("id");
				
				$.ajax({
					url: "/sermons/removeSermon?id=" + sermonId,
					type: "POST",
					success: function(){
						updateSermonList();
					}
				});
			});
			
			$(".sermon-options").on("click", ".editSermon", function(){
				var domElement = this;
				var sermonId = $(this).data("id");
				
				$.ajax({
					url: "/sermons/getSermon?id=" + sermonId,
					type: "GET",
					success: function(data){
						var updateModal = $("#UpdateForm").html();
						var updateModalView = Handlebars.compile(updateModal);
						$("#updateViewer").html(updateModalView(data));
						$("#updateSermon").modal({backdrop: false});
					}
				});
			});
			
			$("#newSermon").on("click", function(){
				$("#uploadSermon").modal({backdrop: false});
			});
		if(sermons.length)
			script.
				$(document).ready(function(){
					mainAudioPlayer = new AudioPlayer({
						container: "mainPagePlayer", 
						audioFile: "#{sermons[0].audioFile}",
						onPlay: function(){
							$("#sermon-container-" + "#{sermons[0]._id}").addClass("playing");
						},
						onPause: function(){
							$("#sermon-container-" + "#{sermons[0]._id}").removeClass("playing");
						}
					});
				});
		else
			script.
				$(document).ready(function(){
					mainAudioPlayer = new AudioPlayer({
						container: "mainPagePlayer"
					});
				});
