extends layout/layout


block content
	.main-content
		.main
			.leftColumn
				#announcement.front-page-container
					#announcementheader.inmainheader
						.vertical-align
							p.green.alfa
								if(language == "English" || language == undefined)
									|	Announcement
								else
									|	Translate Me
								span.glyphicon.glyphicon-bullhorn(aria-label='true',style='float:right').blue
					.announcementbottom
						if(language == "English" || language == undefined)
							p #{announcement.announcement}
						else
							p #{announcement.announcement_kr}
				#upcoming.front-page-container
					#upheader.inmainheader
						.vertical-align
							a(href='events').green
								if(language == "English" || language == undefined)
									|  Coming Up
								else
									|  Translate Me
							a(href='events',style='float:right')
								pan.glyphicon.glyphicon-calendar(aria-label='true').blue
					#upmain
						ul
							each event in events
								li.upcontainer
									//a.lhover(href='#{event.uri}')
									.upcomingInfo
										h6(style='white-space:pre;')
											if(language == "English" || language == undefined)
												| #{event.month}
												| #{event.day}
											else
												| #{event.month_kr}
												| #{event.day}
										.upcomingTitle
											a(href='/events')
												if(language == "English" || language == undefined)
													| #{event.title}
												else
													| #{event.title_kr}
									.upcomingDetails
										.time
											if(language == "English" || language == undefined)
												p Time: #{event.timeRange}
											else
												p Translate Me: #{event.timeRange}
										.description
											if(language == "English" || language == undefined)
												p #{event.description}
											else
												p #{event.description_kr}
					#upfooter
						.vertical-align.centertext
							if(language == "English" || language == undefined)
								a(href='/events') More Events
							else
								a(href='/events') Translate Me
			.rightColumn
				#carouselmain
					#carousel.carousel.slide(data-ride='carousel',data-interval="10000")
						ol.carousel-indicators.opacity
							li.opacity(data-target="#carousel" data-slide-to="0" class='active')
							li.opacity(data-target="#carousel" data-slide-to="1")
							li.opacity(data-target="#carousel" data-slide-to="2")
							
						.carousel-inner(role='listbox')
							.item.active
								img(src='/images/sanctuary.jpg' alt='Problems')
								.carousel-caption
									h3
									p
							.item
								img(src='/images/sanctuary.jpg' alt='More Problems')
								.carousel-caption
									h3
									p
							.item
								img(src='/images/sanctuary.jpg' alt='Most Problems')
								.carousel-caption
									h3
									p
						a.left.carousel-control(href='#carousel' role='button' data-slide="prev")
							span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							span.sr-only Previous
						a.right.carousel-control(href='#carousel' role='button' data-slide="next")
							span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Next
				#sermon.front-page-container
					#sermonheader.inmainheader
						.vertical-align
							a(href='sermons').green
								if(language == "English" || language == undefined)
									|  Weekly Sermon
								else
									|  Translate Me
					.sermonbottom
						#sermonmain.sermonouter
							.sermonedge
								if sermon
									if(language == "English" || language == undefined)
										p.header #{sermon.title}
									else
										p.header #{sermon.title_kr}
										p.description #{sermon.description_kr}
									p.sermonDate #{sermon.date.getUTCMonth()}/#{sermon.date.getUTCDate()}/#{sermon.date.getUTCFullYear()}
									.player
										#mainPagePlayer.mainPagePlayer not rendered...
								else
									p.header No Sermon...
	include ./utils/audio-player.jade
	if sermon
		script.
			var mainAudioPlayer = {};
			$(document).ready(function(){
				mainAudioPlayer = new AudioPlayer({
					container: "mainPagePlayer", 
					audioFile: "#{sermon.audioFile}"
				});
			});
