extends ../layout/layout


block content
	.main-content
		.main.smain
			.heading
				p.titleheadersermon Sermons
			#mainPagePlayer.sermon-audio-player
				if !sermons.length
					p No sermons available...
			.sermons
				each sermon in sermons
					.sermon-container(id="sermon-container-#{sermon._id}",data-sermonId="#{sermon._id}")
						.sermon-main
							.sermon-play-button
								img.sermon-play(onclick="playSermon('#{sermon.audioFile}', '#{sermon._id}');", src="/images/playbutton.png")
								img.sermon-playing-gif(src="/images/playing.gif")
							.sermon-title
								p.miniheader #{sermon.title}
							.sermon-pastor
								p.miniheader #{sermon.pastor}
							.expand-sermon-details
								span.glyphicon.glyphicon-forward(onclick="$('#sermon-container-#{sermon._id}').toggleClass('expanded');")
							.sermon-date
								p.miniheader #{sermon.date.getUTCMonth()}/#{sermon.date.getUTCDate()}/#{sermon.date.getUTCFullYear()}
						.sermon-expanded
							.sermon-description
								p(style="font-size:1.1em;margin-bottom:5px;") Description:
								p #{sermon.description}
				.pager
					.row
						.col-md-1
							if prev
								.prev
									a(href="/sermons?page=#{currPage - 1}") Previous
						.col-md-2
						.col-md-6
							each page in pages
								.page-link
									if parseInt(currPage) == parseInt(page)
										p.active #{page}
									else
										a(href="/sermons?page=#{page}") #{page}
						.col-md-2
						.col-md-1
							if next
								.next
									a(href="/sermons?page=#{parseInt(currPage) + 1}") Next
	include ../utils/audio-player.jade
	script.
		var mainAudioPlayer = {};
		
		function playSermon(audioFile, sermonId){
			$(".sermon-container").removeClass("expanded");
			$(".sermon-container").removeClass("playing");
			$("#sermon-container-" + sermonId).addClass("expanded");
			$("#sermon-container-" + sermonId).addClass("playing");
			
			if(audioFile == mainAudioPlayer.currentAudioFile){
				mainAudioPlayer.playAudio();
			}else{
				mainAudioPlayer.setAudioFile(audioFile, true);
				mainAudioPlayer.onPlay = function(){
					$("#sermon-container-" + sermonId).addClass("playing");
				};
				mainAudioPlayer.onPause = function(){
					$("#sermon-container-" + sermonId).removeClass("playing");
				};
			}
		}
	if sermons.length
		script.
			$(document).ready(function(){
				mainAudioPlayer = new AudioPlayer({
					container: "mainPagePlayer", 
					audioFile: "#{sermons[0].audioFile}",
					onPlay: function(){
						$("#sermon-container-" + "#{sermons[0]._id}").addClass("playing");
					},
					onPause: function(){
						$("#sermon-container-" + "#{sermons[0]._id}").removeClass("playing");
					}
				});
			});		