each sermon in sermons
	.sermon-container(id="sermon-container-#{sermon._id}",data-sermonId="#{sermon._id}")
		.sermon-main
			.sermon-play-button
				img.sermon-play(onclick="playSermon('#{sermon.audioFile}', '#{sermon._id}');", src="/images/playbutton.png")
				img.sermon-playing-gif(src="/images/playing.gif")
			.sermon-title
				p.miniheader #{sermon.title}
			.sermon-pastor
				p.miniheader #{sermon.pastor}
			.expand-sermon-details
				span.glyphicon.glyphicon-forward(onclick="$('#sermon-container-#{sermon._id}').toggleClass('expanded');")
			.sermon-date
				p.miniheader #{sermon.date.getUTCMonth()}/#{sermon.date.getUTCDate()}/#{sermon.date.getUTCFullYear()}
		.sermon-expanded
			.sermon-description
				p(style="font-size:1.1em;margin-bottom:5px;") Description:
				p #{sermon.description}
			.sermon-options
				button.btn.btn-primary.removeSermon(data-id="#{sermon._id}") Delete
				button.btn.btn-primary.editSermon(data-id="#{sermon._id}") Edit
.pager
	.row
		.col-md-1
			if prev
				.prev
					a(href="/admin/sermons?page=#{currPage - 1}") Previous
		.col-md-2
		.col-md-6
			each page in pages
				.page-link
					if parseInt(currPage) == parseInt(page)
						p.active #{page}
					else
						a(href="/admin/sermons?page=#{page}") #{page}
		.col-md-2
		.col-md-1
			if next
				.next
					a(href="/admin/sermons?page=#{parseInt(currPage) + 1}") Next